{% extends 'base.html' %}

{% block content %}
<main style="margin-top: 100px;">
  <div class="container ">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        <div>{{ f.errors }}</div>
        {% endfor %}

        <button type="submit">Submit</button>
        
        <div style="margin: 20px 0px 20px 0px; font-size: 12px;">
            Don't have an account? 
            <a href="{% url 'register' %}">Register</a>
        </div>
    </form>
  </div>
</main>
{% endblock %}